# Default ignored files
/shelf/
/workspace.xml
# Gradle
.gradle/
build/

# Android build outputs
**/build/
*.apk
*.ap_
*.dex
*.class

# Local configuration files
local.properties
.idea/
.DS_Store

# Log files
*.log

# Keystore files
*.jks
*.keystore

# JetBrains IDE files
*.iml
out/

# Compose Multiplatform common outputs
composeApp/build/


